@use 'src/styles/variables' as vars;
@use 'src/styles/mixins/fonts' as fonts;

body {
    font-family: 'SF Pro', sans-serif;
    background-color: var(--background-color);

    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title1 {
    letter-spacing: vars.$letter-spacing-43;

    @include fonts.sfPro(
        vars.$font-size-24,
        vars.$font-weight-600,
        vars.$line-height-32
    );
}

.title2 {
    letter-spacing: vars.$letter-spacing-43;

    @include fonts.sfProText(
        vars.$font-size-17,
        vars.$font-weight-600,
        vars.$line-height-22
    );
}

.text {
    letter-spacing: vars.$letter-spacing-43;

    @include fonts.sfPro(
        vars.$font-size-17,
        vars.$font-weight-400,
        vars.$line-height-22
    );
}

.textBold {
    letter-spacing: vars.$letter-spacing-43;

    @include fonts.sfPro(
        vars.$font-size-17,
        vars.$font-weight-500,
        vars.$line-height-22
    );
}

.caption {
    letter-spacing: vars.$letter-spacing-8;

    @include fonts.sfPro(
        vars.$font-size-13,
        vars.$font-weight-400,
        vars.$line-height-18
    );
}
