.container {
    display: grid;
    row-gap: 8px;
    column-gap: 8px;
}

.size-sm {
    grid-template-columns: repeat(3, minmax(115px, 1fr));
}

.size-md {
    grid-template-columns: repeat(2, minmax(174px, 1fr));
}

.size-lg {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
