.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1000;
}

.content {
    padding: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: var(--modal-background-color);
    animation: slideInBottom 300ms ease-out;
}

.closeBtn {
    all: unset;
    padding: 3px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    border-radius: 100px;
    background-color: var(--modal-close-button-background);
    z-index: 2;
}

@keyframes slideInBottom {
    0% {
        transform: translateY(80%);
    }
    25% {
        transform: translateY(60%);
    }
    50% {
        transform: translateY(40%);
    }
    75% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}
